*{ 
    margin: 0px;
    padding: 0px;
}

.search-bar {
    font-size: 20px;
    font-family:serif;
    list-style: none;
    height: 30px;
    width: 400px;
    display: flex;
    justify-self: center;
    margin-top: 150px;
    padding-left: 20px;
    border: #66a6ff 2px solid;  
    border-radius: 10px;
}

.search-bar:focus {
    outline: none;
}

.search-name {
    cursor: pointer;
    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-left: 355px;
    margin-top: -31.5px;
    background-color: #0096FF; 
    color: white;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-div {
    height: 450px;
    width: 600px;
    display: flex;
    justify-self: center;
    margin-top: 35px;
    border-radius: 20px;
    background-color: #66a6ff;  
}

.cloud-one {
    display: flex;
    justify-self: center;
    margin-top: -400px;
    font-size: 100px;
    color: white;
}

.sec-div {
    height: 120px;
    width: 600px;
    background: linear-gradient(to right, #0f2027, #7b2ff7); 
    margin-top: 200px;
    color: white;
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 50px;
}

.temp {
    font-size: 65px;
    margin-top: -10px;
}
.con{
    padding-left: 5px;
    padding-top: 20px;
}
.temp-con{
    display: flex;
    gap : 10px;
}
.date {
    font-size: 25px;
    padding-left: 50px;
    color: #f0f0f0;  
}
.bottom-div{
    height : 80px;
    margin-top : 220px;
    width : 600px;
    margin-left : 468.0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.extra{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}
.sunny, .wind, .press, .humid {
  display: flex;
  gap : 10px;
}
.sun, .hum, .pressure, .wind-speed {
  padding-top: 10px;
}